:root {
  --white: #ffffff;

  --header-bg-color: rgb(182,182,182);
  --content-bg-color: rgb(256,206,110);
  --header-text-color: var(--white);
  --main-dark-color: rgb(162,131,76);

  --category-bg-color: var(--white);
  --category-text-color: rgb(155,155,155);

  --exp-text-color: var(--main-dark-color);
  --active-exp-text-color: var(--white);
}

body {
  margin: 0;
  background-color: var(--content-bg-color);
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='28' viewBox='0 0 56 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z' fill='%23eebe5f' fill-opacity='0.30' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: var(--header-text-color);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.header {
  background-color: var(--header-bg-color);
  padding: 30px 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.name {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

.character-class {
  font-size: 16px;
}

.description {
  font-size: 15px;
  margin-bottom: 20px;
}

.trees {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 80px;

  color: var(--main-dark-color);
}

.tree {
  min-width: 200px;
}

.category-container, .progress-container {
  display: flex;
  justify-content: center;
}

.category, .progress {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 5px 20px;
  background-color: var(--category-bg-color);
  color: var(--category-text-color);
}

.progress {
  margin-top: -40px;
  margin-bottom: 30px;
}

.total-exp {
  font-size: 12px;
}

.skills {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.skill-name, .exp, .activation, .bar-container, .empty {
  display: flex;
  flex-grow: 3;
  align-items: center;
}

.skill-name {
  margin-right: 5px;
  text-align: right;
}

.activation {
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  align-items: baseline;
}

.skill-name {
  justify-content: flex-end;
}

.exp {
  justify-content: center;
  color: var(--exp-text-color);
  border: solid 4px var(--main-dark-color);
  border-radius: 50%;
  min-width: 36px;
  min-height: 36px;
  line-height: 36px;
  padding: 3px;
  position: relative;
}

.exp.active {
  background-color: var(--main-dark-color);
  color: var(--active-exp-text-color);
}

.activation {
  font-size: 12px;
}

.bar-container {
  justify-content: center;
}

.bar {
  min-height: 36px;
  border: solid 2px;
  box-sizing: border-box;
}

.icon-check {
  background-size: 12px;
  background-position: 4px 4px;
  background-image: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath d='M26.109 8.844c0 0.391-0.156 0.781-0.438 1.062l-13.438 13.438c-0.281 0.281-0.672 0.438-1.062 0.438s-0.781-0.156-1.062-0.438l-7.781-7.781c-0.281-0.281-0.438-0.672-0.438-1.062s0.156-0.781 0.438-1.062l2.125-2.125c0.281-0.281 0.672-0.438 1.062-0.438s0.781 0.156 1.062 0.438l4.594 4.609 10.25-10.266c0.281-0.281 0.672-0.438 1.062-0.438s0.781 0.156 1.062 0.438l2.125 2.125c0.281 0.281 0.438 0.672 0.438 1.062z' fill='%23eebe5f' %3E%3C/path%3E%3C/svg%3E");
}

.icon-lock:before {
  display: block;
  background-color: rgba(255,0,0,0.5);
}

.icon-lock {
  background-size: 10px;
  background-position: 5px 3px;
  background-image: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='28' viewBox='0 0 18 28'%3E%3Ctitle%3Elock%3C/title%3E%3Cpath d='M5 12h8v-3c0-2.203-1.797-4-4-4s-4 1.797-4 4v3zM18 13.5v9c0 0.828-0.672 1.5-1.5 1.5h-15c-0.828 0-1.5-0.672-1.5-1.5v-9c0-0.828 0.672-1.5 1.5-1.5h0.5v-3c0-3.844 3.156-7 7-7s7 3.156 7 7v3h0.5c0.828 0 1.5 0.672 1.5 1.5z' fill='%23b2955f' %3E%3C/path%3E%3C/svg%3E");
}

.icon-background {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: -6px;
  top: -6px;
}

.achieved-icon {
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-repeat: no-repeat;
}

.clouds {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' id='svg2' viewBox='0 0 305.99957 152.43996' height='43.021946mm' width='86.359879mm'%3E%3Cdefs id='defs4' /%3E%3Cmetadata id='metadata7'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg transform='translate(2.8622135,-902.6144)' id='layer1'%3E%3Cpath id='path3336' d='m -2.2254481,918.6925 c 0,0 48.9621801,-44.40046 86.7496211,16.49161 0,0 36.232447,-15.07416 46.384237,22.83455 0,0 58.6624,-18.47071 68.2121,36.78898 0,0 37.88836,-27.16223 70.40156,23.99116 0,0 50.97877,4.4314 25.11823,36.718 0,0 -182.32298,-0.2616 -296.464561,-0.6844 z' style='fill:%23aaaaaa;fill-opacity:1;fill-rule:evenodd;stroke:%23aaaaaa;stroke-width:0.92088127px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' /%3E%3Cpath id='path4159' d='m -1.8938495,935.82152 c 7.6826592,-0.26848 13.7433195,7.93973 17.7704725,18.63777 17.684136,-14.45171 40.888504,-8.19201 51.08131,1.38058 16.611601,-10.70398 40.311787,2.64004 47.629877,18.63777 15.41,-24.80537 42.97414,-16.65049 45.559,2.76116 14.12447,-3.6575 23.30124,14.8794 10.35432,26.231 20.02663,-4.92474 27.10573,4.2751 26.92123,21.3989 11.05751,6.0208 20.83129,13.6142 13.80576,30.4848 l -213.4110703,-0.8674 z' style='fill:%23a0a0a0;fill-opacity:1;fill-rule:evenodd;stroke:%23a0a0a0;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' /%3E%3Cpath id='path4157' d='m -2.2738614,972.76508 c 19.4854744,-23.66968 36.1197964,2.25425 36.1197964,2.25425 22.677677,-13.30357 57.716421,-7.48907 68.199165,11.27126 22.60907,-3.8174 29.14576,13.86891 26.79253,23.66971 25.49958,1.8571 44.06316,24.4163 32.88174,45.085 l -164.1666258,-0.1136 z' style='fill:%23969696;fill-opacity:1;fill-rule:evenodd;stroke:%23969696;stroke-width:0.82012498px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' /%3E%3C/g%3E%3C/svg%3E");
}